* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white
}

h1 {
    text-align: center;
    padding: .3rem;
    border-bottom: 1px solid grey;

}

h3 {
    margin-bottom: 0%;
}

.container {
    text-align: center;
    white-space: pre-wrap;

}

.container label {
    font-size: large;

}

input {
    margin: 0.5rem 0rem;
    border-radius: 20px;
    padding: 0.8rem .9rem;
    width: 30%;

}

input:focus {
    outline: none;
}

.btn {
    padding: 0.8rem 3rem;
    margin: 0.5rem 0rem;
    cursor: pointer;
    background: rgb(247, 4, 166);
    border-radius: 2rem;
    font-size: large;

}

.reset {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
    background-color: rgb(247, 4, 166);
    border-radius: 20px;
    font-size: large;
    margin-top: 0.8rem;

}


#error-msg {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
}

#output {
    display: none;
}

.cash {
    display: none;
    margin-top: 0;
    padding-top: 0;
}


.btn:hover {

    font-weight: bold;
}

.reset:hover {

    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    input {
        width: 50%;


    }

    .container {
        margin: 0px auto;
        text-align: center !important;
        margin-right: 50px;
    }
}

/* footer */
.footer-div {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: .5rem;
}

.footer-div a {
    font-size: x-large;
    padding: .5rem 1rem;
}

.footer-div div {
    color: rgb(99, 52, 175);
    margin-top: 1rem;
}