.body {
    
    margin-inline: 30%;
    background-color: rgb(24, 19, 19);
    border: 30ch;
}
.h1 {
    color: rgb(2, 19, 19);
    text-align: center;
    background-color: rgb(220, 227, 233);
    font-weight: 1600;
    font-size:x-large;

}
.h2 {

    color:aliceblue;
   font-size:x-large;
   L
}